In [ ]:
## IMPORTS
import pandas as pd
import pandasql as ps
import seaborn as sns
import matplotlib.pyplot as plt
from dateutil import parser
import datetime

In [ ]:
df_user_info =  pd.read_csv("user_info.csv")
df_transaction =  pd.read_csv("transaction_info.csv")

In [60]:
# a)

QUERY = '''
        WITH all_info as(
        SELECT * , df_transaction.user_id as USER_ID, SUM(amount_in_eur) as DEPOSITS 
        FROM df_user_info 
        INNER JOIN df_transaction
        ON df_user_info.user_id = df_transaction.user_id
        WHERE event_kind == "fiat_deposit"
        GROUP BY df_transaction.user_id 
     	)
    
    
    SELECT all_info.USER_ID , all_info.DEPOSITS
    FROM all_info
    WHERE 
    all_info.DEPOSITS >= 2000  AND
    
    all_info.user_id not in (
      SELECT df_transaction.user_id 
        FROM df_user_info 
        INNER JOIN df_transaction
        ON df_user_info.user_id = df_transaction.user_id
        WHERE 
        (event_kind == "crypto_deposit" AND
        strftime('%Y', onboarding_completed_at) - strftime('%Y', timestamp) == 0 AND
        strftime('%m', onboarding_completed_at) - strftime('%m', timestamp) == 0 AND
        strftime('%d', onboarding_completed_at) - strftime('%d', timestamp) <= 4) 
        GROUP BY df_transaction.user_id 
    ) 
    AND
    all_info.user_id in (
      SELECT df_transaction.user_id 
        FROM df_user_info 
        INNER JOIN df_transaction
        ON df_user_info.user_id = df_transaction.user_id
        WHERE 
        (event_kind == "fiat_deposit" AND
        strftime('%Y', onboarding_completed_at) - strftime('%Y', timestamp) == 0 AND
        strftime('%m', onboarding_completed_at) - strftime('%m', timestamp) == 0 AND
        strftime('%d', onboarding_completed_at) - strftime('%d', timestamp) <= 4) 
        GROUP BY df_transaction.user_id 
    ) 
    GROUP BY all_info.user_id 

    '''
ps.sqldf(QUERY)

                                               user_id       DEPOSITS
0    0055cee0fe0f41c7d782e9f7e35a92331ddeb503523f4f...    4952.391804
1    010c2c33e0538f313e641b52685f0437d5e14648790d90...   11608.562323
2    011ba7b51cb808b51202b474cb6641fa4fcb98537c07c4...   31064.072493
3    0123fae40ea35eaa408c8a3d62e2dd55a5a0814280a290...  127223.151722
4    0151e8755171fa4b8deafa8e2796a2ada805d68b93cb4f...   13848.225675
..                                                 ...            ...
476  fdd23890e4772770a0e05e8d35ac61f9a01f38f752aa61...    5146.782731
477  fe6b59763e908fbf131de35ada1e94324ead0473f2e2bf...    9704.579566
478  fe79072bd100c4f2e7a70789c30a23c2c830f33beddc69...    4128.235222
479  fecc90194a2f94b1565b71573c929e550e32e02d93d5d8...   14141.838614
480  ff05904ab8ae15d290cc7b3a1309812724b18742b3c0a0...    8084.433691

[481 rows x 2 columns]

In [98]:
# b)
QUERY = '''
WITH 
	D1 AS (
      SELECT *, SUM(amount_in_eur) AS total_EXCHANGE_NOT_BTC_ETH 
      FROM df_transaction 
      WHERE event_kind == "exchange" AND
      SUBSTRING(currency, Instr(currency,'_' )+ 1, 4) not in ('BTC', 'ETH') 
      GROUP by user_id
    ),
    
    D2 as(
    SELECT * , SUM(amount_in_eur) AS total_EXCHANGE_BTC_ETH
      FROM df_transaction
      WHERE event_kind == "exchange" AND
      SUBSTRING(currency, Instr(currency,'_' )+ 1, 4) in ('BTC', 'ETH') 
      GROUP BY user_id
    ),

    D3 as (
    SELECT D1.user_id, total_EXCHANGE_BTC_ETH , total_EXCHANGE_NOT_BTC_ETH
      FROM D1       
      INNER JOIN D2
      ON D1.user_id = D2.user_id
    )
    
    SELECT D3.user_id ,   (total_EXCHANGE_BTC_ETH) /(total_EXCHANGE_NOT_BTC_ETH + total_EXCHANGE_BTC_ETH) * 100 AS transaction_percent_to_BTC_ETH
    FROM D3
    WHERE transaction_percent_to_BTC_ETH >= 90
    GROUP BY user_id

'''
ps.sqldf(QUERY)

,user_id,transaction_percent_to_BTC_ETH
0,08e2982d98ed9e28c8b81ad02e82eaaa6b1e18fbb4ceae...,95.255644
1,0b0397abf268fa061178916887d012511c6d7a2082882b...,93.301979
2,0c2580b7f41eeee73c584a6a98ff5be98fc5d1e47b5047...,99.146614
3,11255c97fc39a569e587b80631f68bbaca0699c6556e03...,99.402573
4,1240b4902df22528fec0760b8e3f52063f5e88a7ac0ad1...,91.590240
...,...,...
96,f8c4eb9077d362e4c92095ec9aa55ac6719065682dca1c...,90.528599
97,f8f05e9d16eac5300ae913792933d6a829d01a70272be4...,95.031265
98,fb0e55e523986cd406ef034f0ae55a0f132935dc4ce03d...,97.698761
99,fb9b94800ef67fc9ed7431a763aaf38e5028570fa92cad...,94.536526
100,fdd22a67b698989d98dc43fe8884263bb48774a5b77d61...,91.567781

In [246]:
# c)

QUERY = '''
WITH 
    D1 AS (
        SELECT * 
      	FROM df_transaction
       	WHERE event_kind == 'crypto_withdrawal'
        group by transaction_id
    ),
    
    D2 AS (
       SELECT * , min(timestamp) as min_timestamp FROM D1
       group BY user_id 
    ),
    
    D3 AS(
        SELECT * FROM D2
        WHERE currency IN ('BTC', 'ETH') AND
      	amount_in_eur >= 2000 
    ),
    
    D4 AS ( 
      	SELECT * 
      	FROM df_transaction
      	WHERE event_kind == 'fiat_deposit'
      	GROUP by user_id
    ),
    
    D5 as (
    SELECT * FROM D3
    left JOIN D4
    ON D3.user_id = D4.user_id
    )
    

    SELECT user_id, event_kind, amount_in_eur FROM D5
    WHERE
        (
        strftime('%Y', "timestamp:1") - strftime('%Y', timestamp) == 0 AND
        strftime('%m', "timestamp:1") - strftime('%m', timestamp) == 0 AND
        strftime('%d', "timestamp:1") - strftime('%d', timestamp) <= 4) 
    
   
    '''
ps.sqldf(QUERY)

,user_id,event_kind,amount_in_eur
0,0498a9869ae99cd6583370de65b9740feb3b10d06d622e...,crypto_withdrawal,5230.978066
1,04cdbd34ec61d770ddd471988e8af74af1cb067e35e8a3...,crypto_withdrawal,4284.327626
2,09b38ca75f3ae7f609efdba3f3f4247de721b7ef74a054...,crypto_withdrawal,2018.930606
3,12f7208772d5848f6b75ae1f94eee45f4e8d969f9ed52c...,crypto_withdrawal,3890.174093
4,1835d9d873bf1f93f67ad2e982f5961b72e9eddb30844d...,crypto_withdrawal,2583.421852
5,1e746d79a8dbd9fe368881ec7682e8d0e4b41a5f3a84cc...,crypto_withdrawal,3169.014939
6,23ce9059caeb5d58f45ae72723b54ac2e6ce3f182eec58...,crypto_withdrawal,2323.983109
7,243efd66c0cc48835b1765bb6c7569dbd5f19ac45d5757...,crypto_withdrawal,3147.917533
8,29429ef9794f788f7cc92f8cfe359b323a957df92fba7f...,crypto_withdrawal,2135.727871
9,2d0804c91bacf32f35a0188ad5db4e9ffd396b38a99a9e...,crypto_withdrawal,8440.809322
10,36bc8f3802d91a3f939f24a67c008cad816ac2952fc4aa...,crypto_withdrawal,5549.649458
11,391497da5f2a242dd316b8926119b27a493f8433b82bb8...,crypto_withdrawal,4890.815366
12,398784a7aaab99aa2a6c4075979b4e4a53863b2c1eefda...,crypto_withdrawal,5820.203314
13,49b9c0b180e9cf838afdd29fdf67e4f72d4c60cc90ced4...,crypto_withdrawal,11612.198756
14,52ac304cef84c558afa3c3c58218c15dc81842613e39cd...,crypto_withdrawal,6156.638700
15,54a04bf7563d834b17ec5566720b41202357f3d3df9d74...,crypto_withdrawal,2487.194151
16,56c56dc851827cce059a8772876de84bea47355d624a72...,crypto_withdrawal,20355.622843
17,5d2d950c618ceb607c8932c759df2426f38041a6e560df...,crypto_withdrawal,10851.204787
18,64e6a0f673abe2a9a4597ceae783a989e636b937fbcdd2...,crypto_withdrawal,9957.733875
19,7591d470ec2a86cca647a80448f65b8a132d7141bda763...,crypto_withdrawal,4002.904839
20,8032394d20147c39eb654861fee9954a151c5669a9d0e3...,crypto_withdrawal,6143.285260
21,828ebac4b2a09bbe8e237552796c54a00c35cb16e0850a...,crypto_withdrawal,3109.811402
22,847b3acd874c9277c0b0fe80de4f0ff300fe0186f05009...,crypto_withdrawal,11738.194899
23,85b6f686d70d6af7a5a77994886efc140972401d2045e4...,crypto_withdrawal,5818.179080
24,88b6dd1437ce0c5d4d3fba0dd8196fd50a9e64ba4fa4cb...,crypto_withdrawal,4983.142209
25,8a08dca03f1fd5e11d489f204a5be7de57e5e7803239e2...,crypto_withdrawal,2084.338884
26,8abba77bd1e5c60f243c974b96891a93d44eca15bac82e...,crypto_withdrawal,2528.898411
27,8f3ac251f5fdb106c51effb4ab3b67a2062d2e63c357d6...,crypto_withdrawal,5040.027782
28,8f48f9bf7a05192eff8a10d34b57635a384067b4949e15...,crypto_withdrawal,13681.764265
29,9611f41e7b031e2f7c616a97e4b44db932a1afa6a5d10c...,crypto_withdrawal,2514.568803
30,97af3995b2c03471a7e6f1306dbbffeb473e978b47749b...,crypto_withdrawal,2234.763875
31,98025284c7d8067bc759ae5a81e026da232bb873c1b4c4...,crypto_withdrawal,6055.674644
32,9b5f7b97affbbc9020cbaa524e235bb2fc22a273fa9ae4...,crypto_withdrawal,2240.437192
33,9ff0c97d848f14c961d91f76c8c5386e0402d991193f66...,crypto_withdrawal,3448.537831
34,a872822a9eb2ad68be1197fd61ef6b08ae1cd2a932daeb...,crypto_withdrawal,4618.705027
35,ac70457ac28ecae717c0ad14716ea83ee92e766bd8fdd7...,crypto_withdrawal,4293.409804
36,b012e308433577f5d1227466ae9f5621f7b4d9232cec3e...,crypto_withdrawal,4849.357005
37,b026de22bb07f5932b90681c53322179fb4ea021363bd7...,crypto_withdrawal,6962.105079
38,b0b0b7f9fd573ea0265e51d2d2f123eca5df578ee63c07...,crypto_withdrawal,2139.257075
39,b4574629f9ac1fa92d450424d00e623b7e69039f21054f...,crypto_withdrawal,4209.265159
40,c090d1fe1d4dc70b1f5124dde1cee598884a246aec3408...,crypto_withdrawal,17517.609209
41,d77b225a9531919cc5f24605e6f8cfd1ac4e24c19c6cb3...,crypto_withdrawal,2034.329420
42,d96282983b8d3ea41a659e37282e1e7755cfc140cdf765...,crypto_withdrawal,4206.137613
43,d9f8f621ab5b2b18312351776cadf72b3f197a76867ab1...,crypto_withdrawal,6811.116718
44,df93cdd74504b7ed66aeea4bdc32da3eebce0b2a6ab80e...,crypto_withdrawal,2368.962156
45,e17149744b93a3e446a89d8cd4bc9a131ff6bdd53f9cf3...,crypto_withdrawal,2105.707804
46,e346d0df755dc991e3c80a1492401073cd8055428377a8...,crypto_withdrawal,2083.161330
47,f2a6a945fb4a477956c44c2ce005b4eba7ca44d8e6c94c...,crypto_withdrawal,2527.415233
48,fa7cd442d5ada33c2858725edba80870e7c7dfb57d8c37...,crypto_withdrawal,5467.525488